.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url('/login-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

form {
    width: 316px;
    height: 150px;
    background-color: rgba(36,36,35, 0.95);
    border-radius: 10px;
    padding-top: 43px;
    padding-bottom: 55px;
    padding-left: 34px;
    padding-right: 34px;
}

input {
    width: 135px;
    height: 25px;
    background-color: #A7A7A7;
    outline: none;
    border: none;
    color: #1A1A1A;
    font-size: 16px;
}

label {
    color: white;
    font-size: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

button.cancel, .submit-button {
    width: 150px;
    height: 42px;
    border: none;
    border-radius: 20px;
    color: #242423;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button.cancel {
    background-color: #F55C5C;
    color: #242423;
}

.submit-button {
    background-color: #5CF56A;
}

button.cancel:hover {
    background-color: #f55c5cbc;
}

.submit-button:hover {
    background-color: #5cf569b8;
}

h1 {
    position: absolute;
    color: white;
    z-index: 100;
    margin-left: 53px;
    margin-top: 50px;
    text-decoration: underline;
    font-size: 42px;
}

a {
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 100%;
}

a:hover {
    color: #F5CB5C;
}

.m-10 {
    margin-top: 30px;
}