<div class="page-wrapper">
    <div class="inner-container">
        <div class="container">
            <div class="title">
                <p>Favorite routes</p>
            </div>
            <div class="card-container">
                <!-- Ovde ce ici @for koji prolazi kroz sacuvane rute korisnika -->
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="button-container">
                <button>Previous</button>
                <button>Next</button>
            </div>
        </div>
    </div>
</div>