:host {
    position: relative;
    display: block;
    height: 100vh;
  }
  
  /*put the whole div below nav bar*/
  .page-wrapper {
    position: fixed;   
    top: 80px;            
    left: 0;            
    width: 100vw;          
    height: calc(100vh - 80px);

    background-image: linear-gradient(rgba(36, 36, 35, 0.45), rgba(36, 36, 35, 0.45)), url(../../../../public/favorite-routes-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .inner-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid green;
  }

  .container {
    width: 90%;
    min-height: 88%;
    max-height: 88%;
    height: 88%;
    border: 2px solid red;
    background-color: rgba(36, 36, 35, 0.25);
    /* height: calc((100vh - 80px) * 0.9); */
  }
  
  .title {
    border: 2px solid salmon;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding-top: 1.5%;
  }

  .title p {
    color: white;
    text-decoration: underline;
    font-size: 40px;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-container {
    border: 2px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75%;
    gap: 15px;
  }

  .card-container div {
    margin-left: 5%;
    width: 70%;
    height: 15%;
    background-color: rgba(36, 36, 35, 0.4);
  }
  
  .button-container {
    border: 2px solid orange;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .button-container button {
    width: 16%;
    height: 80%;
    margin-top: 6px;
    border: none;
    border-radius: 10px;
    background-color: rgba(245, 203, 92, 0.8);
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
  }
