<div class="history-page">
  <div class="content-wrapper">

    <div class="header-section">
      <h1 class="all-drives-title">Ride History</h1>

      <div class="filters">

        <div class="input-group">
            <label>Select User:</label>
            <select
                [(ngModel)]="selectedUserId"
                (change)="onUserChange()"
                class="figma-select"
            >
                <option [ngValue]="null">-- Select user --</option>
                <option *ngFor="let user of users" [ngValue]="user.id">
                {{ user.username }} ({{ user.role }})
                </option>
            </select>
        </div>

        <button (click)="loadHistory()" class="btn-search">Load</button>

        <div class="date-filter-container">
          <div class="input-group">
            <label>From:</label>
            <input type="date" [(ngModel)]="fromDate" class="figma-input">
          </div>
          <div class="input-group">
            <label>To:</label>
            <input type="date" [(ngModel)]="toDate" class="figma-input">
          </div>
        </div>

        <div class="button-group">
          <button (click)="searchByDate()" class="btn-search">Search</button>
          <button (click)="clearFilter()" class="btn-clear">Clear</button>
        </div>

        <div class="sort-container">
          <label>Sort by:</label>
          <select [(ngModel)]="sortField" (change)="sortBy()" class="figma-select">
            <option value="startTime">Start Date</option>
            <option value="endTime">End Date</option>
            <option value="totalPrice">Price</option>
            <option value="status">Status</option>
          </select>
        </div>

      </div>
    </div>

    <div class="table-container">
      <table class="figma-table">
        <thead>
          <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Start</th>
            <th>End</th>
            <th>Price</th>
            <th>Details</th>
            <th>Panic</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ride of rides">
            <td>{{ ride.origin?.address }}</td>
            <td>{{ ride.destination?.address }}</td>
            <td>{{ ride.startTime | date:'MM/dd/yyyy HH:mm' }}</td>
            <td>{{ ride.endTime | date:'MM/dd/yyyy HH:mm' }}</td>
            <td class="ride-price">{{ ride.totalPrice }}</td>
            <td><button class="btn-details" (click)="openDetails(ride.id)">Details</button></td>
            <td>
              <span class="badge"
                [ngClass]="ride.panicPressed ? 'badge-stopped' : 'badge-completed'">
                {{ ride.panicPressed ? 'YES' : 'NO' }}
              </span>
            </td>
            <td>{{ ride.status }}</td>
          </tr>

          <tr *ngIf="rides.length === 0">
            <td colspan="8" style="text-align:center;">
              No rides found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div 
    class="overlay" 
    *ngIf="showDetails" 
    (click)="closeDetails()">
    </div>

    @if (showDetails) {
    <div class="details-popup">
  
        <div class="map-mini">
            <app-map-view 
                size="small"
                [readonlyMode]="true">
            </app-map-view>
        </div>

        <div class="details">
            <p><strong>Origin:</strong> {{ selectedRide.origin.address }}</p>
            <p><strong>Destination:</strong> {{ selectedRide.destination.address }}</p>
            <p><strong>Driver:</strong> {{ selectedRide.driverEmail }}</p>
            <p><strong>Price:</strong> {{ selectedRide.totalPrice }}</p>
            <p><strong>Status:</strong> {{ selectedRide.status }}</p>
            <div class="stars">
                <strong>Driver rating:</strong>
                @for (star of getStarsArray(); track star) {
                <span 
                    class="star"
                    [class.filled]="star <= getDriverRating()">
                    ★
                </span>
                }
            </div>

            <div class="stars">
                <strong>Vehicle rating:</strong>
                @for (star of getStarsArray(); track star) {
                <span 
                    class="star"
                    [class.filled]="star <= getVehicleRating()">
                    ★
                </span>
                }
            </div>


            <div class="buttons">
                <button (click)="closeDetails()">Close</button>
            </div>

        </div>
    </div>
    }

  </div>
</div>
