/* app.css */
:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  margin: 0;
  overflow: hidden; /* Prevents unwanted scrolls */
}

app-navbar {
  flex: 0 0 80px; /* Fixed height matching your navbar CSS */
  z-index: 1000;  /* Keeps navbar above the main content */
}

.main-page-host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333533;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}