/* map-view.css */
:host {
  display: block;
  width: 100%;
  max-width: 100vw; /* Maximum width from Figma */
  height: 100%;      
  max-height: 100vh; /* Figma height limit */
  margin: auto;      /* Final centering safety */
}

.map-rectangle {
  width: 100%;
  /* background: url('/map.png') no-repeat center center;
  background-size: cover;  */
  border: 2px solid rgba(245, 203, 92, 0.81);
  box-sizing: border-box;
  position: relative;
}

.map-rectangle.large {
  height: 100%;
}

.map-rectangle.small {
  height: 92%;
}

.taxi-marker {
  font-size: 100px;
  text-align: center;
  line-height: 1;
}