:host {
  display: block;
  width: 100%;
  max-width: 1235px; /* Maksimalna širina iz Figme */
  height: 100%;      /* Sada će raditi jer je roditelj flex */
  max-height: 674px; /* Da ne postane prevelika na ogromnim ekranima */
}

.map-rectangle {
  width: 100%;
  height: 100%;
  background: url('/map.png') no-repeat center center;
  background-size: cover; /* Slika će uvek popuniti okvir */
  border: 2px solid rgba(245, 203, 92, 0.81);
  box-sizing: border-box;
}