.scheduled-rides {
    background-color: #333533; /* Base background from Figma */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.content-wrapper {
    width: 100%;
    /* max-width: 1280px; */
    color: #E7E7E7; /* Text color from Figma */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Title */
.scheduled-rides-title {
    font-weight: 600;
    font-size: 22px;
    color: #E7E7E7;
    margin-top: 0;
    margin-bottom: 12px;
}

/* Header Filters */
.header-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters { display: flex; gap: 20px; }

.figma-input, .figma-select {
    background: #F9FBFF;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    color: #7E7E7E;
    font-size: 12px;
}

/* Table */
.figma-table {
    width: 100%;
    border-collapse: collapse;
}

.figma-table thead {
  position: relative;
}

.figma-table thead::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: #EEEEEE;
}

.figma-table th {
    text-align: left;
    color: #B5B7C0; /* Header color from Figma */
    font-weight: 500;
    font-size: 14px;
    padding: 15px 10px;
    min-width: 120px;
}

.figma-table td {
    padding: 20px 10px;
    border-bottom: 1px solid #EEEEEE;
    font-size: 14px;
    color: #E7E7E7;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 120px;
}

.btn-begin, .btn-cancel {
    border: none;
    border-radius: 4px;
    padding: 7px 15px;
    cursor: pointer;
    width: 130px;
    font-weight: 500;
    transition: .2s;
}

.btn-begin {
    background: #5CF56A;
    color: #404B52;
}

.btn-begin:hover {
    background: #5cf569d4;
}

.btn-cancel {
    background: #F55C5C;
    color: #E7E7E7;
}

.btn-cancel:hover {
    background: #f55c5cd4;
}

/* Pagination */
.pagination-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.data-info { color: #E7E7E7; font-size: 14px; }

.pagination-controls { display: flex; gap: 8px; align-items: center; }

.page-num, .page-arrow {
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    width: 25px;
    height: 24px;
    font-size: 12px;
    cursor: pointer;
}

.page-num.active {
    background: #F5CB5C; /* Yellow active color from Figma */
    border: 1px solid #5932EA;
    color: white;
}

.dots { color: #E7E7E7; }