<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
</head>
<body>
    <div class="profile-sidebar">
        <div class="profile-picture-frame">
            <div class="profile-picture">
                <img [src]="profileImageUrl" alt="Profile image" (error)="onImageError($event)">
            
                <!-- Overlay on hover  -->
                <div class="upload-overlay">
                    <div *ngIf="!isUploading || !isDeleting" class="overlay-buttons">
                        <button class="overlay-btn change-btn" (click)="triggerFileInput()">Change image</button>

                        <button *ngIf="hasCustomImage()" class="overlay-btn delete-btn" (click)="deleteProfileImage()">Remove image</button>
                    </div>
                </div>
            </div>

             <!-- Input for file choosing -->
             <input type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)" style="display: none;">

            <p id="profile-name">{{userName}}</p>
        </div>
        <div class="buttons-frame">
            <div class="left-side-buttons">
                @for (btn of leftButtons; track btn.label) {
                    <button
                        (click)="onButtonClick(btn)"
                    >{{btn.label}}</button>
                }
            </div>
            <div class="right-side-buttons">
                @for (btn of rightButtons; track btn.label) {
                    <button
                        [class.redText]="btn.redText"
                        (click)="onButtonClick(btn)"
                    >{{btn.label}}</button>
                }
            </div>
        </div>
    </div>
</body>
</html>