<app-map-view #mapView size="large" (etaCalculated)="onEtaReceived($event)">
  <div class="ride-data" [class.visible]="showRideData()">
    <p><span class="w-clr">Driver</span> arrival: <span class="driver-arrival-data">6 minutes</span></p>
    <p>Estimated <span class="w-clr">time</span>: <span class="estimated-time-data">{{ etaMinutes !== null ? (etaMinutes + ' minutes') : '--' }}</span></p>
    <button class="btn-cancel">Cancel ride</button>
  </div>

</app-map-view>

<router-outlet></router-outlet>

<div class="overlay" [class.open]="ridePopup.isOpen()" (click)="onOverlayClick()"></div>

<!-- POPUP -->
@if (ridePopup.isOpen()) {
  <!-- GUEST -->
  @if (auth.userType() === 'guest') {
  <form class="popup" [class.open]="ridePopup.isOpen()" (click)="$event.stopPropagation()">
    <p>Ride data</p>

    <div class="form-group">
        <label for="origin">Origin:</label>
        <input name="origin" type="text" [(ngModel)]="originAddress">
    </div>
    <div class="form-group">
        <label for="destination">Destination:</label>
        <input name="destination" type="text" [(ngModel)]="destinationAddress">
    </div>

    <button type="button" class="route-btn" (click)="onShowRoute()">Show route & ETA</button>
  </form>
}

<!-- Pop-up ride ordering form for registered user -->
<!-- REGISTERED USER -->
@if (auth.userType() === 'user') {
  <div class="ride-overlay" (click)="ridePopup.close()">
    <app-ride-ordering (click)="$event.stopPropagation()"></app-ride-ordering>
  </div>
  }
}