/* main-page.css */
.main-page-host {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #333533;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}