:host {
  display: flex !important;
  flex: 1 !important; /* Gets all remaining space */
  width: 100%;
  height: 100%;
  background-color: #333533;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Padding so the map doesn't hit the edges */
  box-sizing: border-box;
}