* {
    font-family: 'Montserrat', sans-serif;
}

.register-container {
  width: 100vw;
  height: 100vh;
  background-image: url('/register-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.01);
  pointer-events: none;
}

form {
    width: 360px;
    height: 370px;
    background-color: rgba(36,36,35, 0.95);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: white;
}

input {
    width: 135px;
    height: 25px;
    background-color: #A7A7A7;
    outline: none;
    border: none;
    color: #1A1A1A;
    font-size: 16px;
}

label {
    color: white;
    font-size: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

button.cancel, .submit-button {
    width: 150px;
    height: 42px;
    border: none;
    border-radius: 20px;
    color: #242423;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.bottom {
    margin-top: 44px;
}

button.cancel {
    background-color: #F55C5C;
    color: #242423;
}

.submit-button {
    background-color: #5CF56A;
}

button.cancel:hover {
    background-color: #f55c5cbc;
}

.submit-button:hover {
    background-color: #5cf569b8;
}

.header {
    position: absolute;
    color: white;
    z-index: 100;
    margin-left: 53px;
    margin-top: 50px;
    text-decoration: underline;
    font-size: 42px;
}

.user-info-header {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    width: 340px;
    height: 42px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}