<div class="container">

    <div class="title-container">
        <p>Ride data</p>
    </div>

    <div class="form-container">
        <form action="">
            @for (field of topFields; track field.label) {
                <div class="form-row">
                    <label [for]="field.label">{{field.text}}</label>
                        <input
                        [id]="field.label"
                        [name]="field.label"
                        [(ngModel)] = "formData[field.label]"
                        [type]="field.type"
                        [placeholder]="field.placeholder"
                        [class.invalid]="isFieldInvalid(field.label)"
                    />
                    @if (fieldErrors[field.label]) {
                      <small class="error-text">
                        {{ fieldErrors[field.label] }}
                      </small>
                    }                    
                </div>
            }

            <div class="form-row">
                <label>Additional stops:</label>
                <button type="button" class="additions-btn" (click)="openStopsModal()">
                  + Add stops
                </button>
             </div>
              
            <div class="form-row linked-passengers-row">
                @if (fieldErrors['linkedPassengers']) {
                  <span class="error-text">
                    {{ fieldErrors['linkedPassengers'] }}
                  </span>
                }
                <label>Linked passengers:</label>
                <button type="button" class="additions-btn" (click)="openPassengerModal()">
                  + Add passengers
                </button>
            </div>
              
            @for (field of bottomFields; track field.label) {
                <div class="form-row">
                    <label [for]="field.label">{{field.text}}</label>

                    <!-- Select field is needed for dropdown when inputting the vehicles type -->
                    @if (field.type === 'select') {
                        <select [id]="field.label" 
                                [name]="field.label"
                                [(ngModel)] = "formData[field.label]"
                                [class.invalid]="isFieldInvalid(field.label)">
                            @for (option of field.options; track option) {
                                <option [value]="option">{{option}}</option>
                            }
                        </select>
                    <!-- Otherwise, use regular input field -->
                    } @else {
                        <input
                        [id]="field.label"
                        [name]="field.label"
                        [(ngModel)] = "formData[field.label]"
                        [type]="field.type"
                        [placeholder]="field.placeholder"
                        [class.invalid]="isFieldInvalid(field.label)"
                    />
                    }
                    @if (fieldErrors[field.label]) {
                      <small class="error-text">
                        {{ fieldErrors[field.label] }}
                      </small>
                    }                    
                </div>
            }
        </form>

        @if (showStopsModal) {
            <div class="modal-backdrop">
              <div class="modal">
                <p>Additional stops</p>
          
                @for (stop of additionalStops; track $index) {
                  <div class="dynamic-row">
                    <input [(ngModel)]="additionalStops[$index]" placeholder="Stop" />
          
                    @if ($index === 0) {
                      <button (click)="addStop()">+</button>
                    } @else {
                      <button (click)="removeStop($index)">−</button>
                    }
                  </div>
                }
          
                <div class="modal-actions">
                  <button class="cancel-stops-addition-btn" (click)="closeStopsModal()">Cancel</button>
                  <button class="save-stops-addition-btn" (click)="closeStopsModal()">Save</button>
                </div>
              </div>
            </div>
        }

        @if (showPassengerModal) {
            <div class="modal-backdrop">
              <div class="modal">
                <p>Link passengers</p>
          
                @for (stop of linkedPassengers; track $index) {
                  <div class="dynamic-row">
                    <input [(ngModel)]="linkedPassengers[$index]" placeholder="Email" />
          
                    @if ($index === 0) {
                      <button (click)="addPassenger()">+</button>
                    } @else {
                      <button (click)="removePassenger($index)">−</button>
                    }
                  </div>
                }
                <div class="modal-actions">
                  <button class="cancel-linking-passengers-btn" (click)="closePassengerModal()">Cancel</button>
                  <button class="save-linking-passengers-btn" (click)="closePassengerModal()">Save</button>
                </div>
              </div>
            </div>
        }
    </div>

    <div class="button-container">
        <button class="finish-ride-ordering" (click)="onFinishOrder()">Show Route & ETA</button>
    </div>

</div>
