:host {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.container {
    width: 30vw;
    height: 80vh;
    background-color: rgba(36, 36, 35, 0.7);
    padding: 0.7% 6%;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.title-container {
    margin-top: 2%;
    width: 100%;
    height: 10%;
    /* border: 4px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container p {
    color: white;
    font-size: 22px;
    font-style: italic;
}

.form-container {
    width: 100%;
    height: 80%;
    /*border: 4px solid red; */
}

.form-container form {
    height: 100%; /* calc() */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-row {
    /* border: 1px solid cyan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 10%;
    width: 100%;
}

.form-row label {
    width: 45%;
    margin-left: 8%;
    text-align: left;
    font-size: 20px;
    color: white;
    /*border: 1px solid red; */
}

.form-row input {
    height: 60%;
    width: 35%;
    margin-right: 8%;
    background-color: #A7A7A7;
}

.form-row select {
    height: 60%;
    width: 35%;
    margin-right: 8%;
    background-color: #A7A7A7;
}

.button-container {
    width: 100%;
    height: 10%;
    /*border: 4px solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5%;
}

.button-container button {
    width: 40%;
    font-size: 16px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 12px auto;
    color: #242423;
    transition: none;
    transition: .3s;
}

.finish-ride-ordering {
    background-color: #F5CB5C;
}

.finish-ride-ordering:hover {
    background-color: #f5cc5cc2;
}

.invalid {
    border: 2px solid red !important;
}

@media (min-width: 480px) {
    .container {
        /* border: 1px solid pink; */
        width: 62vw;
    }

    .title-container {
        /*border: 1px solid green; */
        height: 8%;
    }

    .title-container p {
        margin-top: 10%;
        font-size: 20px;
    }

    .form-container {
        /*border: 1px solid red; */
    }

    .form-container form {
        gap: 15px;
    }

    .form-row {
        /*border: 1px solid cyan; */
        gap: 10px;
    }

    .form-row label {
        font-size: 14px;
    }

    .form-row input {
        height: 45%;
    }

    .form-row select {
        height: 45%
    }

    .button-container {
        /*border: 1px solid orange; */
    }

    .button-container button {
        width: 50%;
        padding: 8px 0;
        font-size: 12px;
        margin-bottom: 8%;
    }

}

@media (min-width: 768px) {
    .container {
        /* border: 1px solid pink; */
        width: 48vw;
    }

    .title-container {
        /* border: 1px solid green; */
        height: 8%;
    }

    .title-container p {
        margin-top: 6%;
        font-size: 20px;
    }

    .form-container {
        /* border: 1px solid red; */
    }

    .form-container form {
        /* gap: 15px; */
    }

    .form-row {
        /* border: 1px solid cyan; */
        gap: 8px;
    }

    .form-row label {
        font-size: 16px;
    }

    .form-row input {
        height: 48%;
    }

    .form-row select {
        height: 48%
    }

    .button-container {
        /* border: 1px solid orange; */
    }

    .button-container button {
        width: 40%;
        padding: 8px 0;
        font-size: 13px;
        margin-bottom: 5%;
    }

}

@media (min-width: 1024px) { 
    .container {
        /* border: 1px solid pink; */
        width: 40vw;
    }

    .title-container {
        /* border: 1px solid green; */
        height: 8%;
    }

    .title-container p {
        margin-top: 6%;
        font-size: 20px;
    }

    .form-container {
        /* border: 1px solid red; */
    }

    .form-container form {
        gap: 15px;
    }

    .form-row {
        /* border: 1px solid cyan; */
        gap: 5px;
    }

    .form-row label {
        font-size: 17px;
    }

    .form-row input {
        height: 50%;
    }

    .form-row select {
        height: 50%
    }

    .button-container {
        /* border: 1px solid orange; */
    }

    .button-container button {
        width: 42%;
        padding: 8px 0;
        font-size: 14px;
        margin-bottom: 4%;
    }

 }

@media (min-width: 1280px) { 
    .container {
        /* border: 1px solid pink; */
        width: 30vw;
    }

    .title-container {
        /* border: 1px solid green; */
        height: 8%;
    }

    .title-container p {
        margin-top: 6%;
        font-size: 22px;
    }

    .form-container {
        /* border: 1px solid red; */
    }

    .form-container form {
        gap: 15px;
    }

    .form-row {
        /* border: 1px solid cyan; */
        gap: 10px;
    }

    .form-row label {
        font-size: 18.5px;
        margin-left: 10%;
    }

    .form-row input {
        margin-right: 10%;
        height: 52%;
    }

    .form-row select {
        margin-right: 10%;
        height: 52%
    }

    .button-container {
        /* border: 1px solid orange; */
    }

    .button-container button {
        width: 40%;
        padding: 8px 0;
        font-size: 15.5px;
        margin-bottom: 4%;
    }
}