<app-map-view size="small" (routeCalculated)="onRouteCalculated($event)">
    <div class="ride-data">
        <!-- Using signals for dynamic data -->
        <p>Origin: <span class="origin">{{ auth.origin() }}</span></p>
        <p>Destination: <span class="destination">{{ auth.destination() }}</span></p>
        <p>Estimated time:</p>
        <p class="time">{{ auth.eta() }} MINUTES</p>
    </div>

    <!-- POST-RIDE NOTIFICATION  -->
    @if (showFinishNotification()) {
        <div class="notification-overlay">
            <div class="notification-toast">
                <p>Ride successfully finished and paid!</p>
                <div class="toast-actions">
                    <button class="finish" (click)="openRating()">Rate Ride</button>
                    <button class="stop" (click)="resetToOrder()">Order New</button>
                </div>
            </div>
        </div>
    }
</app-map-view>

<div class="buttons">
    <!--  DRIVER  -->
    @if (auth.userType() === 'driver') {
        <button class="stop">Stop drive</button>
        <button class="finish">Finish drive</button>
    }

    <!--  PASSENGER  -->
    @if (auth.userType() === 'user') {
        @if (auth.inDrive()) {
            <button class="report" (click)="onReport()">REPORT</button>
            <button class="finish" (click)="onFinishPassenger()" style="margin-top: 10px;">Simulate End</button>
        }
    }
</div>