<nav class="navbar">
  <!-- LEFT: Logo and name -->
  <div class="nav-left">
    <button class="user-circle-btn" (click)="goToHome()">
        <img src="logo.png" alt="Logo">
    </button>
    
    <span class="brand-name">Click&Drive</span>
  </div>

  <!-- CENTER: Welcome message  -->
  <div class="nav-center">
    @if (auth.userType() !== 'guest') {
      <span class="welcome-text">Hi, {{ auth.userName() }}</span>
    }
    @if (auth.userType() == 'guest'){
      <button class="btn-white center" (click)="openPopup()">Let's Ride!</button>
    }
  </div>

  <!-- RIGHT: Buttons -->
  <div class="nav-right">
    
    <!-- GUEST NAVBAR -->
    @if (auth.userType() === 'guest') {
      <button class="btn-yellow" (click)="onLoginClick()">Log in</button>
      <button class="btn-yellow" (click)="onRegisterClick()">Register</button>
      <button (click)="onTestRideClick()"> TEST RIDE</button>
    }

    <!-- DRIVER NAVBAR -->
    @if (auth.userType() === 'driver') {
      @if (auth.inDrive()) {
        <button class="btn-red" (click)="onPanic()" [disabled]="panicPressed()" [class.panic-disabled]="panicPressed()">
          {{ panicPressed() ? 'PANIC SENT' : 'PANIC' }}
        </button>
      }
      <button class="user-circle-btn" (click)="onProfileClick()">
        <img src="user-icon.png" alt="Profile">
      </button>
    }

    <!-- REGISTERED USER NAVBAR -->
    @if (auth.userType() === 'user') {
      @if (!auth.inDrive()) {
        <button class="btn-white" (click)="orderRideClick()">Let's Ride!</button>
        <button (click)="onTestRideClick()"> TEST RIDE</button>
      }
      @if (auth.inDrive()) {
        <button class="btn-red" (click)="onPanic()" [disabled]="panicPressed()" [class.panic-disabled]="panicPressed()">
          {{ panicPressed() ? 'PANIC SENT' : 'PANIC' }}
        </button>
      }
      <button class="user-circle-btn" (click)="onProfileClick()">
        <img src="user-icon.png" alt="Profile">
      </button>
    }

    <!-- ADMIN NAVBAR -->
    @if (auth.userType() === 'admin') {
      <button class="btn-red-wide" (click)="goToPanicNotifications()">
        PANIC MESSAGES
      </button>  
      <button class="user-circle-btn" (click)="onProfileClick()">
        <img src="user-icon.png" alt="Profile">
      </button>
    }

  </div>
</nav>

@if (profileSidebar.isOpen() && auth.userType() === 'user') {
  <app-passenger-profile></app-passenger-profile>
}

@if (profileSidebar.isOpen() && auth.userType() === 'driver') {
  <app-driver-profile></app-driver-profile>
}

@if (profileSidebar.isOpen() && auth.userType() === 'admin') {
  <app-admin-profile></app-admin-profile>
}
