<div class="page-wrapper">
    <div class="inner-container">
        <div class="container">
            <div class="title">
                <p>Block a User</p>
            </div>
            <div class="roles-btn-container">
                <button (click)="showDrivers()" [class.active]="currentView === 'drivers'">Drivers</button>
                <button (click)="showPassengers()" [class.active]="currentView === 'passengers'">Passengers</button>
            </div>
            <div class="card-container">
                @for (user of users; track user.id) {
                <!-- set of favoriteRoutes -->
                    <div class="card" [class.blocked-card]="user.blocked">
                        <div class="top-card-part">
                            <!-- The card part where we have users Name: and Lastname: -->
                            <div class="info">
                                <div class="user-pin"></div>
                                <div class="user-info">
                                    <p><b>Name:</b> {{user.name}}</p>
                                    <p><b>Lastname:</b> {{user.surname}}</p>
                                </div>
                            </div>
                            <!-- The card part where the buttons are -->
                            <div class="interactable">
                                <button class="block-btn" (click)="toggleBlockStatus(user)">{{user.blocked ? 'Unblock' : 'Block'}}</button>
                                <button class="note-btn" (click)="openNoteModal(user)">Note</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="button-container">
                <button>Previous</button>
                <button>Next</button>
            </div>
        </div>
    </div>
</div>

<app-block-reason-input 
    title="Manage User Note"
    (onConfirm)="onNoteSaved($event)">
</app-block-reason-input>